.ImportImagesButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 24px;

  border: none;
  border-radius: 5px;
  background-color: #272727;
  color: #ffffff;

  font-size: 11px;
  font-weight: 400;
  line-height: 1;
  font-family: 'Geist';
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}

.ImportImagesButton:hover {
  background-color: #2c2c2c;
}

.ImportImagesButton:active {
  background-color: #272727;
  transform: translateY(2px);
}

.ImportImagesButton:disabled {
  background-color: #1a1a1a;
  color: #666;
  cursor: not-allowed;
}

.ImportImagesButton__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.ImportImagesButton__label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ImportImagesButton__svg {
  width: 11px;
  height: 11px;
  fill: currentColor;
}