.image-preview {
  width: 170px;
  height: 170px;
  border-radius: 10px;
  background-color: #2C2C2C;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.image-preview__placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #2C2C2C;
}

.image-preview__placeholder-icon {
  width: 48px;
  height: 48px;
  color: #666;
  opacity: 0.7;
}

.image-preview__loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2C2C2C;
  border-radius: 10px;
}

.image-preview__loader-spinner {
  width: 32px;
  height: 32px;
  border: 3px solid transparent;
  border-top: 3px solid #666;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Варианты размеров (опционально) */
.image-preview--small {
  width: 120px;
  height: 120px;
}

.image-preview--large {
  width: 200px;
  height: 200px;
}

/* Состояния */
.image-preview--error {
  border: 2px dashed #666;
}