.App {
  display:flex;
  text-align: center;
  justify-content: space-between;
  height:100Vh;

  background-color: #1E1E1E;
  gap: 10px;
}

.app-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  gap:10px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
