.App {
  background-color: #141414;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-items {
  flex: 1;
  display: flex;
  text-align: center;
  justify-content: space-between;
  min-height: 0; /* Важно для правильного расчета flex-элементов */
  margin-bottom: 15px;
}

.app-content {
  display: flex;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  background-color: #181818;
  border: 1px solid #242424;
  border-radius: 20px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
