.App {
  display:flex;
  text-align: center;
  justify-content: space-between;
  height:100vh;

  background-color: #141414;
}

.app-content {
  display: flex;
  background-color: #1C1C1C;
  border: 1px solid #2C2C2C;
  border-radius: 20px;
  align-items: center;
  gap:10px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
