.Rightbar {
  height: 100vh;
  min-width: 230px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #232323;
  border: 1px solid #3D3D3D;
  color: #fff;
}
